<h1><%=@post.title%></h1>

<a href="<%=edit_post_url(@post)%>">Edit This Post</a>
<br>
<%=@post.content%>
<br>
<%=@post.url%>
<br>
<%= @post.votes.reduce(0) {|sum, vote| sum+= vote.value} %>
<br>
<form action="<%= post_upvote_url(@post)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="submit" value="Upvote">
</form>
<form action="<%= post_downvote_url(@post)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="submit" value="Downvote">
</form>

<h3>Subs</h3>
<ul>
    <% @post.subs.each do |sub|%>
    <li><a href="<%=sub_url(sub)%>"><%=sub.title%></a></li> 
    <%end%>
</ul> 

<h2>Comments</h2>
<a href="<%=new_post_comment_url(@post)%>">Comment on this post</a>
<ul>
    <% @all_comments[nil].each do |comment| %>
        <li><a href="<%= comment_url(comment) %>"><%=comment.content%></a></li>
        <%=render 'comment_tree', parent_comment: comment, all_comments: @all_comments%>
    <% end %>
</ul>